<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>brocoli.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{34,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,28}}</string>
			<key>sourceSize</key>
			<string>{34,28}</string>
		</dict>
		<key>carrot0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,2},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>carrot0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>carrot0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,2},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>carrot0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,2},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>carrot0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,36},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>carrot0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,36},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>carrot0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,36},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>carrot0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,36},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>eggplant0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,70},{71,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,40}}</string>
			<key>sourceSize</key>
			<string>{71,40}</string>
		</dict>
		<key>eggplant0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,70},{71,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,40}}</string>
			<key>sourceSize</key>
			<string>{71,40}</string>
		</dict>
		<key>eggplant0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,70},{71,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,40}}</string>
			<key>sourceSize</key>
			<string>{71,40}</string>
		</dict>
		<key>eggplant0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{71,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,40}}</string>
			<key>sourceSize</key>
			<string>{71,40}</string>
		</dict>
		<key>eggplant0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,112},{71,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,40}}</string>
			<key>sourceSize</key>
			<string>{71,40}</string>
		</dict>
		<key>eggplant0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,70},{71,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,40}}</string>
			<key>sourceSize</key>
			<string>{71,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>enemies.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5fe585c7c30e11e205f219ff23274d77$</string>
		<key>textureFileName</key>
		<string>enemies.png</string>
	</dict>
</dict>
</plist>
